/* base - reset */
.thumbnail {width:160px !important; height:160px !important;}
.img-thumbnail {width:150px; height:150px !important; background-color:#C8BB9B !important;}
.padder-reset {padding:0 15px !important;}

/* main */
.img-thumbnail-single {width:140px; height:140px !important;}
.img-thumbnail-multiple {width:140px; height:140px !important;}

.img-thumbnail-new {margin:0 20px 20px 0;}
