<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
【订单表】对象关系映射 配置 
 @author AutoCode 309444359@qq.com
 @date 2015-11-17 13:27:04
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bluemobi.dao.bts.BtsOrderDao">

	<resultMap id="btsOrderResultMap" type="com.bluemobi.po.bts.BtsOrder">
		<id property="orderId" column="order_id" />
       <result property="paymentId" column="payment_id" />
       <result property="paymentAlias" column="payment_alias" />
       <result property="orderNumber" column="order_number" />
       <result property="outOrderNumber" column="out_order_number" />
       <result property="orderType" column="order_type" />
       <result property="userid" column="userid" />
       <result property="username" column="username" />
       <result property="remark" column="remark" />
       <result property="status" column="status" />
       <result property="payTime" column="pay_time" />
       <result property="payStatus" column="pay_status" />
       <result property="payType" column="pay_type" />
       <result property="logisticsId" column="logistics_id" />
       <result property="logisticsNumber" column="logistics_number" />
       <result property="consigneeName" column="consignee_name" />
       <result property="consigneeRegionId" column="consignee_region_id" />
       <result property="consigneeRegionName" column="consignee_region_name" />
       <result property="consigneeAddress" column="consignee_address" />
       <result property="consigneeZipcode" column="consignee_zipcode" />
       <result property="consigneeEmail" column="consignee_email" />
       <result property="consigneeMobile" column="consignee_mobile" />
       <result property="isInvoice" column="is_invoice" />
       <result property="invoiceTax" column="invoice_tax" />
       <result property="invoiceBelong" column="invoice_belong" />
       <result property="freight" column="freight" />
       <result property="count" column="count" />
       <result property="totalAmount" column="total_amount" />
       <result property="couponAmount" column="coupon_amount" />
       <result property="deliveryTime" column="delivery_time" />
       <result property="isCancel" column="is_cancel" />
       <result property="isUrgent" column="is_urgent" />
       <result property="isRefund" column="is_refund" />
       <result property="isDel" column="is_del" />
       <result property="isDelUser" column="is_del_user" />
       <result property="ctime" column="ctime" />
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="btsOrderResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="btsOrderResultMap"></resultMap>
	
	
	<insert id="insert" parameterType="com.bluemobi.po.bts.BtsOrder" useGeneratedKeys="true" keyProperty="orderId">
	   insert into bts_order (
	     payment_id,
	     payment_alias,
	     order_number,
	     out_order_number,
	     order_type,
	     userid,
	     username,
	     remark,
	     status,
	     pay_time,
	     pay_status,
	     pay_type,
	     logistics_id,
	     logistics_number,
	     consignee_name,
	     consignee_region_id,
	     consignee_region_name,
	     consignee_address,
	     consignee_zipcode,
	     consignee_email,
	     consignee_mobile,
	     is_invoice,
	     invoice_tax,
	     invoice_belong,
	     freight,
	     count,
	     total_amount,
	     coupon_amount,
	     delivery_time,
	     is_cancel,
	     is_urgent,
	     is_refund,
	     is_del,
	     is_del_user,
	     ctime
	   )values (
	     #{paymentId},
	     #{paymentAlias},
	     #{orderNumber},
	     #{outOrderNumber},
	     #{orderType},
	     #{userid},
	     #{username},
	     #{remark},
	     #{status},
	     #{payTime},
	     #{payStatus},
	     #{payType},
	     #{logisticsId},
	     #{logisticsNumber},
	     #{consigneeName},
	     #{consigneeRegionId},
	     #{consigneeRegionName},
	     #{consigneeAddress},
	     #{consigneeZipcode},
	     #{consigneeEmail},
	     #{consigneeMobile},
	     #{isInvoice},
	     #{invoiceTax},
	     #{invoiceBelong},
	     #{freight},
	     #{count},
	     #{totalAmount},
	     #{couponAmount},
	     #{deliveryTime},
	     #{isCancel},
	     #{isUrgent},
	     #{isRefund},
	     #{isDel},
	     #{isDelUser},
	     #{ctime}
	   )
	</insert>

	<update id="update" parameterType="com.bluemobi.po.bts.BtsOrder">
		update bts_order
		<set>
			<if test="orderId != null">
				order_id=#{orderId},
			</if>
			<if test="paymentId != null">
				payment_id=#{paymentId},
			</if>
			<if test="paymentAlias != null">
				payment_alias=#{paymentAlias},
			</if>
			<if test="orderNumber != null">
				order_number=#{orderNumber},
			</if>
			<if test="outOrderNumber != null">
				out_order_number=#{outOrderNumber},
			</if>
			<if test="orderType != null">
				order_type=#{orderType},
			</if>
			<if test="userid != null">
				userid=#{userid},
			</if>
			<if test="username != null">
				username=#{username},
			</if>
			<if test="remark != null">
				remark=#{remark},
			</if>
			<if test="status != null">
				status=#{status},
			</if>
			<if test="payTime != null">
				pay_time=#{payTime},
			</if>
			<if test="payStatus != null">
				pay_status=#{payStatus},
			</if>
			<if test="payType != null">
				pay_type=#{payType},
			</if>
			<if test="logisticsId != null">
				logistics_id=#{logisticsId},
			</if>
			<if test="logisticsNumber != null">
				logistics_number=#{logisticsNumber},
			</if>
			<if test="consigneeName != null">
				consignee_name=#{consigneeName},
			</if>
			<if test="consigneeRegionId != null">
				consignee_region_id=#{consigneeRegionId},
			</if>
			<if test="consigneeRegionName != null">
				consignee_region_name=#{consigneeRegionName},
			</if>
			<if test="consigneeAddress != null">
				consignee_address=#{consigneeAddress},
			</if>
			<if test="consigneeZipcode != null">
				consignee_zipcode=#{consigneeZipcode},
			</if>
			<if test="consigneeEmail != null">
				consignee_email=#{consigneeEmail},
			</if>
			<if test="consigneeMobile != null">
				consignee_mobile=#{consigneeMobile},
			</if>
			<if test="isInvoice != null">
				is_invoice=#{isInvoice},
			</if>
			<if test="invoiceTax != null">
				invoice_tax=#{invoiceTax},
			</if>
			<if test="invoiceBelong != null">
				invoice_belong=#{invoiceBelong},
			</if>
			<if test="freight != null">
				freight=#{freight},
			</if>
			<if test="count != null">
				count=#{count},
			</if>
			<if test="totalAmount != null">
				total_amount=#{totalAmount},
			</if>
			<if test="couponAmount != null">
				coupon_amount=#{couponAmount},
			</if>
			<if test="deliveryTime != null">
				delivery_time=#{deliveryTime},
			</if>
			<if test="isCancel != null">
				is_cancel=#{isCancel},
			</if>
			<if test="isUrgent != null">
				is_urgent=#{isUrgent},
			</if>
			<if test="isRefund != null">
				is_refund=#{isRefund},
			</if>
			<if test="isDel != null">
				is_del=#{isDel},
			</if>
			<if test="isDelUser != null">
				is_del_user=#{isDelUser},
			</if>
			<if test="ctime != null">
				ctime=#{ctime},
			</if>
		</set>
		<where>
			order_id=#{orderId} 
		</where>
	</update>

	<delete id="delete" parameterType="map">
	   delete from 
	     bts_order 
	   where 
	    order_id=#{orderId} 
	</delete>

	<select id="selectObject" parameterType="map" resultMap="btsOrderResultMap">
	   select 
	    order_id,
	    payment_id,
	    payment_alias,
	    order_number,
	    out_order_number,
	    order_type,
	    userid,
	    username,
	    remark,
	    status,
	    pay_time,
	    pay_status,
	    pay_type,
	    logistics_id,
	    logistics_number,
	    consignee_name,
	    consignee_region_id,
	    consignee_region_name,
	    consignee_address,
	    consignee_zipcode,
	    consignee_email,
	    consignee_mobile,
	    is_invoice,
	    invoice_tax,
	    invoice_belong,
	    freight,
	    count,
	    total_amount,
	    coupon_amount,
	    delivery_time,
	    is_cancel,
	    is_urgent,
	    is_refund,
	    is_del,
	    is_del_user,
	    ctime
	   from bts_order
	   where 
	    order_id=#{orderId} 
	</select>
	
	<select id="selectObjectList" parameterType="map" resultMap="btsOrderResultMap">
	   select 
	     order_id,
	     payment_id,
	     payment_alias,
	     order_number,
	     out_order_number,
	     order_type,
	     userid,
	     username,
	     remark,
	     status,
	     pay_time,
	     pay_status,
	     pay_type,
	     logistics_id,
	     logistics_number,
	     consignee_name,
	     consignee_region_id,
	     consignee_region_name,
	     consignee_address,
	     consignee_zipcode,
	     consignee_email,
	     consignee_mobile,
	     is_invoice,
	     invoice_tax,
	     invoice_belong,
	     freight,
	     count,
	     total_amount,
	     coupon_amount,
	     delivery_time,
	     is_cancel,
	     is_urgent,
	     is_refund,
	     is_del,
	     is_del_user,
	     ctime
	   from bts_order
	   <where>
	     <if test="orderId != null">
	        order_id=#{orderId}
	     </if>
	     <if test="paymentId != null">
	        and payment_id=#{paymentId}
	     </if>
	     <if test="paymentAlias != null">
	        and payment_alias=#{paymentAlias}
	     </if>
	     <if test="orderNumber != null">
	        and order_number=#{orderNumber}
	     </if>
	     <if test="outOrderNumber != null">
	        and out_order_number=#{outOrderNumber}
	     </if>
	     <if test="orderType != null">
	        and order_type=#{orderType}
	     </if>
	     <if test="userid != null">
	        and userid=#{userid}
	     </if>
	     <if test="username != null">
	        and username=#{username}
	     </if>
	     <if test="remark != null">
	        and remark=#{remark}
	     </if>
	     <if test="status != null">
	        and status=#{status}
	     </if>
	     <if test="payTime != null">
	        and pay_time=#{payTime}
	     </if>
	     <if test="payStatus != null">
	        and pay_status=#{payStatus}
	     </if>
	     <if test="payType != null">
	        and pay_type=#{payType}
	     </if>
	     <if test="logisticsId != null">
	        and logistics_id=#{logisticsId}
	     </if>
	     <if test="logisticsNumber != null">
	        and logistics_number=#{logisticsNumber}
	     </if>
	     <if test="consigneeName != null">
	        and consignee_name=#{consigneeName}
	     </if>
	     <if test="consigneeRegionId != null">
	        and consignee_region_id=#{consigneeRegionId}
	     </if>
	     <if test="consigneeRegionName != null">
	        and consignee_region_name=#{consigneeRegionName}
	     </if>
	     <if test="consigneeAddress != null">
	        and consignee_address=#{consigneeAddress}
	     </if>
	     <if test="consigneeZipcode != null">
	        and consignee_zipcode=#{consigneeZipcode}
	     </if>
	     <if test="consigneeEmail != null">
	        and consignee_email=#{consigneeEmail}
	     </if>
	     <if test="consigneeMobile != null">
	        and consignee_mobile=#{consigneeMobile}
	     </if>
	     <if test="isInvoice != null">
	        and is_invoice=#{isInvoice}
	     </if>
	     <if test="invoiceTax != null">
	        and invoice_tax=#{invoiceTax}
	     </if>
	     <if test="invoiceBelong != null">
	        and invoice_belong=#{invoiceBelong}
	     </if>
	     <if test="freight != null">
	        and freight=#{freight}
	     </if>
	     <if test="count != null">
	        and count=#{count}
	     </if>
	     <if test="totalAmount != null">
	        and total_amount=#{totalAmount}
	     </if>
	     <if test="couponAmount != null">
	        and coupon_amount=#{couponAmount}
	     </if>
	     <if test="deliveryTime != null">
	        and delivery_time=#{deliveryTime}
	     </if>
	     <if test="isCancel != null">
	        and is_cancel=#{isCancel}
	     </if>
	     <if test="isUrgent != null">
	        and is_urgent=#{isUrgent}
	     </if>
	     <if test="isRefund != null">
	        and is_refund=#{isRefund}
	     </if>
	     <if test="isDel != null">
	        and is_del=#{isDel}
	     </if>
	     <if test="isDelUser != null">
	        and is_del_user=#{isDelUser}
	     </if>
	     <if test="ctime != null">
	        and ctime=#{ctime}
	     </if>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
	   select 
	    order_id,
	    payment_id,
	    payment_alias,
	    order_number,
	    out_order_number,
	    order_type,
	    userid,
	    username,
	    remark,
	    status,
	    pay_time,
	    pay_status,
	    pay_type,
	    logistics_id,
	    logistics_number,
	    consignee_name,
	    consignee_region_id,
	    consignee_region_name,
	    consignee_address,
	    consignee_zipcode,
	    consignee_email,
	    consignee_mobile,
	    is_invoice,
	    invoice_tax,
	    invoice_belong,
	    freight,
	    count,
	    total_amount,
	    coupon_amount,
	    delivery_time,
	    is_cancel,
	    is_urgent,
	    is_refund,
	    is_del,
	    is_del_user,
	    ctime
	   from bts_order
	   where 
	    order_id=#{orderId} 
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
	   select 
	     order_id,
	     payment_id,
	     payment_alias,
	     order_number,
	     out_order_number,
	     order_type,
	     userid,
	     username,
	     remark,
	     status,
	     pay_time,
	     pay_status,
	     pay_type,
	     logistics_id,
	     logistics_number,
	     consignee_name,
	     consignee_region_id,
	     consignee_region_name,
	     consignee_address,
	     consignee_zipcode,
	     consignee_email,
	     consignee_mobile,
	     is_invoice,
	     invoice_tax,
	     invoice_belong,
	     freight,
	     count,
	     total_amount,
	     coupon_amount,
	     delivery_time,
	     is_cancel,
	     is_urgent,
	     is_refund,
	     is_del,
	     is_del_user,
	     ctime
	   from bts_order
	   <where>
	     <if test="orderId != null">
	        order_id=#{orderId}
	     </if>
	     <if test="paymentId != null">
	        and payment_id=#{paymentId}
	     </if>
	     <if test="paymentAlias != null">
	        and payment_alias=#{paymentAlias}
	     </if>
	     <if test="orderNumber != null">
	        and order_number=#{orderNumber}
	     </if>
	     <if test="outOrderNumber != null">
	        and out_order_number=#{outOrderNumber}
	     </if>
	     <if test="orderType != null">
	        and order_type=#{orderType}
	     </if>
	     <if test="userid != null">
	        and userid=#{userid}
	     </if>
	     <if test="username != null">
	        and username=#{username}
	     </if>
	     <if test="remark != null">
	        and remark=#{remark}
	     </if>
	     <if test="status != null">
	        and status=#{status}
	     </if>
	     <if test="payTime != null">
	        and pay_time=#{payTime}
	     </if>
	     <if test="payStatus != null">
	        and pay_status=#{payStatus}
	     </if>
	     <if test="payType != null">
	        and pay_type=#{payType}
	     </if>
	     <if test="logisticsId != null">
	        and logistics_id=#{logisticsId}
	     </if>
	     <if test="logisticsNumber != null">
	        and logistics_number=#{logisticsNumber}
	     </if>
	     <if test="consigneeName != null">
	        and consignee_name=#{consigneeName}
	     </if>
	     <if test="consigneeRegionId != null">
	        and consignee_region_id=#{consigneeRegionId}
	     </if>
	     <if test="consigneeRegionName != null">
	        and consignee_region_name=#{consigneeRegionName}
	     </if>
	     <if test="consigneeAddress != null">
	        and consignee_address=#{consigneeAddress}
	     </if>
	     <if test="consigneeZipcode != null">
	        and consignee_zipcode=#{consigneeZipcode}
	     </if>
	     <if test="consigneeEmail != null">
	        and consignee_email=#{consigneeEmail}
	     </if>
	     <if test="consigneeMobile != null">
	        and consignee_mobile=#{consigneeMobile}
	     </if>
	     <if test="isInvoice != null">
	        and is_invoice=#{isInvoice}
	     </if>
	     <if test="invoiceTax != null">
	        and invoice_tax=#{invoiceTax}
	     </if>
	     <if test="invoiceBelong != null">
	        and invoice_belong=#{invoiceBelong}
	     </if>
	     <if test="freight != null">
	        and freight=#{freight}
	     </if>
	     <if test="count != null">
	        and count=#{count}
	     </if>
	     <if test="totalAmount != null">
	        and total_amount=#{totalAmount}
	     </if>
	     <if test="couponAmount != null">
	        and coupon_amount=#{couponAmount}
	     </if>
	     <if test="deliveryTime != null">
	        and delivery_time=#{deliveryTime}
	     </if>
	     <if test="isCancel != null">
	        and is_cancel=#{isCancel}
	     </if>
	     <if test="isUrgent != null">
	        and is_urgent=#{isUrgent}
	     </if>
	     <if test="isRefund != null">
	        and is_refund=#{isRefund}
	     </if>
	     <if test="isDel != null">
	        and is_del=#{isDel}
	     </if>
	     <if test="isDelUser != null">
	        and is_del_user=#{isDelUser}
	     </if>
	     <if test="ctime != null">
	        and ctime=#{ctime}
	     </if>
	   </where>
	</select>
	
	<select id="page" parameterType="map" resultMap="pageResultMap">
	   select 
	     order_id,
	     payment_id,
	     payment_alias,
	     order_number,
	     out_order_number,
	     order_type,
	     userid,
	     username,
	     remark,
	     status,
	     pay_time,
	     pay_status,
	     pay_type,
	     logistics_id,
	     logistics_number,
	     consignee_name,
	     consignee_region_id,
	     consignee_region_name,
	     consignee_address,
	     consignee_zipcode,
	     consignee_email,
	     consignee_mobile,
	     is_invoice,
	     invoice_tax,
	     invoice_belong,
	     freight,
	     count,
	     total_amount,
	     coupon_amount,
	     delivery_time,
	     is_cancel,
	     is_urgent,
	     is_refund,
	     is_del,
	     is_del_user,
	     ctime
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>

	<select id="pageCount" parameterType="map" resultType="int">
	   select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
	   from bts_order
	   <where>
	     <if test="orderId != null">
	        order_id=#{orderId}
	     </if>
	     <if test="paymentId != null">
	        and payment_id=#{paymentId}
	     </if>
	     <if test="paymentAlias != null">
	        and payment_alias=#{paymentAlias}
	     </if>
	     <if test="orderNumber != null">
	        and order_number=#{orderNumber}
	     </if>
	     <if test="outOrderNumber != null">
	        and out_order_number=#{outOrderNumber}
	     </if>
	     <if test="orderType != null">
	        and order_type=#{orderType}
	     </if>
	     <if test="userid != null">
	        and userid=#{userid}
	     </if>
	     <if test="username != null">
	        and username=#{username}
	     </if>
	     <if test="remark != null">
	        and remark=#{remark}
	     </if>
	     <if test="status != null">
	        and status=#{status}
	     </if>
	     <if test="payTime != null">
	        and pay_time=#{payTime}
	     </if>
	     <if test="payStatus != null">
	        and pay_status=#{payStatus}
	     </if>
	     <if test="payType != null">
	        and pay_type=#{payType}
	     </if>
	     <if test="logisticsId != null">
	        and logistics_id=#{logisticsId}
	     </if>
	     <if test="logisticsNumber != null">
	        and logistics_number=#{logisticsNumber}
	     </if>
	     <if test="consigneeName != null">
	        and consignee_name=#{consigneeName}
	     </if>
	     <if test="consigneeRegionId != null">
	        and consignee_region_id=#{consigneeRegionId}
	     </if>
	     <if test="consigneeRegionName != null">
	        and consignee_region_name=#{consigneeRegionName}
	     </if>
	     <if test="consigneeAddress != null">
	        and consignee_address=#{consigneeAddress}
	     </if>
	     <if test="consigneeZipcode != null">
	        and consignee_zipcode=#{consigneeZipcode}
	     </if>
	     <if test="consigneeEmail != null">
	        and consignee_email=#{consigneeEmail}
	     </if>
	     <if test="consigneeMobile != null">
	        and consignee_mobile=#{consigneeMobile}
	     </if>
	     <if test="isInvoice != null">
	        and is_invoice=#{isInvoice}
	     </if>
	     <if test="invoiceTax != null">
	        and invoice_tax=#{invoiceTax}
	     </if>
	     <if test="invoiceBelong != null">
	        and invoice_belong=#{invoiceBelong}
	     </if>
	     <if test="freight != null">
	        and freight=#{freight}
	     </if>
	     <if test="count != null">
	        and count=#{count}
	     </if>
	     <if test="totalAmount != null">
	        and total_amount=#{totalAmount}
	     </if>
	     <if test="couponAmount != null">
	        and coupon_amount=#{couponAmount}
	     </if>
	     <if test="deliveryTime != null">
	        and delivery_time=#{deliveryTime}
	     </if>
	     <if test="isCancel != null">
	        and is_cancel=#{isCancel}
	     </if>
	     <if test="isUrgent != null">
	        and is_urgent=#{isUrgent}
	     </if>
	     <if test="isRefund != null">
	        and is_refund=#{isRefund}
	     </if>
	     <if test="isDel != null">
	        and is_del=#{isDel}
	     </if>
	     <if test="isDelUser != null">
	        and is_del_user=#{isDelUser}
	     </if>
	     <if test="ctime != null">
	        and ctime=#{ctime}
	     </if>
	   </where>
	</sql>

</mapper> 