<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
【退货流程日志表】对象关系映射 配置 
 @author AutoCode 309444359@qq.com
 @date 2015-11-17 13:27:05
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bluemobi.dao.bts.BtsOrderRefundDao">

	<resultMap id="btsOrderRefundResultMap" type="com.bluemobi.po.bts.BtsOrderRefund">
		<id property="refundId" column="refund_id" />
       <result property="orderId" column="order_id" />
       <result property="refundSn" column="refund_sn" />
       <result property="itemId" column="item_id" />
       <result property="orderNumber" column="order_number" />
       <result property="price" column="price" />
       <result property="reason" column="reason" />
       <result property="operatorType" column="operator_type" />
       <result property="operatorUserid" column="operator_userid" />
       <result property="ip" column="ip" />
       <result property="ctime" column="ctime" />
       <result property="status" column="status" />
       <result property="isDel" column="is_del" />
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="btsOrderRefundResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="btsOrderRefundResultMap"></resultMap>
	
	
	<insert id="insert" parameterType="com.bluemobi.po.bts.BtsOrderRefund">
	   insert into bts_order_refund (
	     refund_id,
	     order_id,
	     refund_sn,
	     item_id,
	     order_number,
	     price,
	     reason,
	     operator_type,
	     operator_userid,
	     ip,
	     ctime,
	     status,
	     is_del
	   )values (
	     #{refundId},
	     #{orderId},
	     #{refundSn},
	     #{itemId},
	     #{orderNumber},
	     #{price},
	     #{reason},
	     #{operatorType},
	     #{operatorUserid},
	     #{ip},
	     #{ctime},
	     #{status},
	     #{isDel}
	   )
	</insert>

	<update id="update" parameterType="com.bluemobi.po.bts.BtsOrderRefund">
		update bts_order_refund
		<set>
			<if test="refundId != null">
				refund_id=#{refundId},
			</if>
			<if test="orderId != null">
				order_id=#{orderId},
			</if>
			<if test="refundSn != null">
				refund_sn=#{refundSn},
			</if>
			<if test="itemId != null">
				item_id=#{itemId},
			</if>
			<if test="orderNumber != null">
				order_number=#{orderNumber},
			</if>
			<if test="price != null">
				price=#{price},
			</if>
			<if test="reason != null">
				reason=#{reason},
			</if>
			<if test="operatorType != null">
				operator_type=#{operatorType},
			</if>
			<if test="operatorUserid != null">
				operator_userid=#{operatorUserid},
			</if>
			<if test="ip != null">
				ip=#{ip},
			</if>
			<if test="ctime != null">
				ctime=#{ctime},
			</if>
			<if test="status != null">
				status=#{status},
			</if>
			<if test="isDel != null">
				is_del=#{isDel},
			</if>
		</set>
		<where>
			refund_id=#{refundId} 
		</where>
	</update>

	<delete id="delete" parameterType="map">
	   delete from 
	     bts_order_refund 
	   where 
	    refund_id=#{refundId} 
	</delete>

	<select id="selectObject" parameterType="map" resultMap="btsOrderRefundResultMap">
	   select 
	    refund_id,
	    order_id,
	    refund_sn,
	    item_id,
	    order_number,
	    price,
	    reason,
	    operator_type,
	    operator_userid,
	    ip,
	    ctime,
	    status,
	    is_del
	   from bts_order_refund
	   where 
	    refund_id=#{refundId} 
	</select>
	
	<select id="selectObjectList" parameterType="map" resultMap="btsOrderRefundResultMap">
	   select 
	     refund_id,
	     order_id,
	     refund_sn,
	     item_id,
	     order_number,
	     price,
	     reason,
	     operator_type,
	     operator_userid,
	     ip,
	     ctime,
	     status,
	     is_del
	   from bts_order_refund
	   <where>
	     <if test="refundId != null">
	        refund_id=#{refundId}
	     </if>
	     <if test="orderId != null">
	        and order_id=#{orderId}
	     </if>
	     <if test="refundSn != null">
	        and refund_sn=#{refundSn}
	     </if>
	     <if test="itemId != null">
	        and item_id=#{itemId}
	     </if>
	     <if test="orderNumber != null">
	        and order_number=#{orderNumber}
	     </if>
	     <if test="price != null">
	        and price=#{price}
	     </if>
	     <if test="reason != null">
	        and reason=#{reason}
	     </if>
	     <if test="operatorType != null">
	        and operator_type=#{operatorType}
	     </if>
	     <if test="operatorUserid != null">
	        and operator_userid=#{operatorUserid}
	     </if>
	     <if test="ip != null">
	        and ip=#{ip}
	     </if>
	     <if test="ctime != null">
	        and ctime=#{ctime}
	     </if>
	     <if test="status != null">
	        and status=#{status}
	     </if>
	     <if test="isDel != null">
	        and is_del=#{isDel}
	     </if>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
	   select 
	    refund_id,
	    order_id,
	    refund_sn,
	    item_id,
	    order_number,
	    price,
	    reason,
	    operator_type,
	    operator_userid,
	    ip,
	    ctime,
	    status,
	    is_del
	   from bts_order_refund
	   where 
	    refund_id=#{refundId} 
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
	   select 
	     refund_id,
	     order_id,
	     refund_sn,
	     item_id,
	     order_number,
	     price,
	     reason,
	     operator_type,
	     operator_userid,
	     ip,
	     ctime,
	     status,
	     is_del
	   from bts_order_refund
	   <where>
	     <if test="refundId != null">
	        refund_id=#{refundId}
	     </if>
	     <if test="orderId != null">
	        and order_id=#{orderId}
	     </if>
	     <if test="refundSn != null">
	        and refund_sn=#{refundSn}
	     </if>
	     <if test="itemId != null">
	        and item_id=#{itemId}
	     </if>
	     <if test="orderNumber != null">
	        and order_number=#{orderNumber}
	     </if>
	     <if test="price != null">
	        and price=#{price}
	     </if>
	     <if test="reason != null">
	        and reason=#{reason}
	     </if>
	     <if test="operatorType != null">
	        and operator_type=#{operatorType}
	     </if>
	     <if test="operatorUserid != null">
	        and operator_userid=#{operatorUserid}
	     </if>
	     <if test="ip != null">
	        and ip=#{ip}
	     </if>
	     <if test="ctime != null">
	        and ctime=#{ctime}
	     </if>
	     <if test="status != null">
	        and status=#{status}
	     </if>
	     <if test="isDel != null">
	        and is_del=#{isDel}
	     </if>
	   </where>
	</select>
	
	<select id="page" parameterType="map" resultMap="pageResultMap">
	   select 
	     refund_id,
	     order_id,
	     refund_sn,
	     item_id,
	     order_number,
	     price,
	     reason,
	     operator_type,
	     operator_userid,
	     ip,
	     ctime,
	     status,
	     is_del
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>

	<select id="pageCount" parameterType="map" resultMap="pageResultMap">
	   select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
	   from bts_order_refund
	   <where>
	     <if test="refundId != null">
	        refund_id=#{refundId}
	     </if>
	     <if test="orderId != null">
	        and order_id=#{orderId}
	     </if>
	     <if test="refundSn != null">
	        and refund_sn=#{refundSn}
	     </if>
	     <if test="itemId != null">
	        and item_id=#{itemId}
	     </if>
	     <if test="orderNumber != null">
	        and order_number=#{orderNumber}
	     </if>
	     <if test="price != null">
	        and price=#{price}
	     </if>
	     <if test="reason != null">
	        and reason=#{reason}
	     </if>
	     <if test="operatorType != null">
	        and operator_type=#{operatorType}
	     </if>
	     <if test="operatorUserid != null">
	        and operator_userid=#{operatorUserid}
	     </if>
	     <if test="ip != null">
	        and ip=#{ip}
	     </if>
	     <if test="ctime != null">
	        and ctime=#{ctime}
	     </if>
	     <if test="status != null">
	        and status=#{status}
	     </if>
	     <if test="isDel != null">
	        and is_del=#{isDel}
	     </if>
	   </where>
	</sql>

	
</mapper> 